<!DOCTYPE html>
<html>
	<head>
	<link type="text/css" rel="stylesheet" href="Fourth.page.css"/>
		<title>Arunas&Amanda</title>
	</head>
	<body>
		<div id="wrapper">
			<div id="header">
				<ul>
<a href="index.html"><li> HOME </li></a>
<a href="Third.page.html"><li> DAILY </li></a>
<a href="Second.page.html"><li> TRAVEL </li></a>
<a href="Fourth.page.html"><li> CONTACTS </li></a>
				</ul>
				<div id="about"> <h1> CONTACT US </h1> </div>
		</div>
				<div id="content">
					<ul>
			<li> Current Adress: Kretingos gt. 36, Klaipeda, Lithuania, 92307 </li>
			<li> Phone number:  Arunas +37064323242; Amanda +37063936996 </li>
			<li> Email: aastram12@students.lcc.lt; aparris14@students.lcc.lt </li>
			<li> Facebook: <a href="https://www.facebook.com/arunas.astramskas"> Arunas Astramskas; </a> <a href= "https://www.facebook.com/MandaParris?fref=ts"> Amanda Parris </a> </li>
		
		</ul>
				</div>
				<div id="footer">
			<p>Klaipeda, Lithuania</p> 
		<img src="fb.png">
			<p>www.facebook.com/arunas.astramskas </p>
			<img src="mail.png">
			<p> aastram12@students.lcc.lt </p>
				</div>
	</div>
  
	</body>
</html>


