<!DOCTYPE html>
<html>
	<head>
	<link type="text/css" rel="stylesheet" href="Fourth page.css"/>
		<title>Arunas&Amanda</title>
	</head>
	<body>
		<div id="wrapper">
			<div id="header">
				<ul>
<a href="index.html"><li> HOME </li></a>
<a href="Third.page.html"><li> DAILY </li></a>
<a href="Second.page.html"><li> TRAVEL </li></a>
<a href="Fourth.page.html"><li> CONTACTS </li></a>
				</ul>
				<div id="about"> <h1> CONTACT US </h1> </div>
		</div>
				<div id="content">
					<ul>
			<li> Current Adress: <a class="info"> Kretingos gt. 36, Klaipeda, Lithuania, 92307 </a></li>
			<li> Phone number:  <a class="info"> +37064323242 </a></li>
			<li> Email:  <a class="info"> aastram12@students.lcc.lt </a></li>
			<li> Facebook: <a href="https://www.facebook.com/arunas.astramskas">  <a class="info">Arunas Astramskas</a> </a></li>
		
		</ul>
				</div>
				<div id="footer">
			<p>Klaipeda, Lithuania</p> 
		<img src="fb.png">
			<p>www.facebook.com/arunas.astramskas </p>
			<img src="mail.png">
			<p> aastram12@students.lcc.lt </p>
				</div>
	</div>
  
	</body>
</html>


